# Build outputs
/build/
/app/build/
/app/release/
*.apk
*.aab
*.keystore
*.jks

# Gradle
/.gradle/
gradle/wrapper/gradle-wrapper.jar

# IDE
/.idea/
*.iml
local.properties

# Firebase
google-services.json
